body{

}

#section_01{
	background-color: #ffffff;
	margin: auto;
	width:70%;
	height: 500px;
	box-shadow: -15px 15px 5px grey;

}
#section_01 p{
}


#titre{
	height: 10%;
	background-color: black;
	margin-top: 10%;
}

#bgvid video{
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow:hidden;
}/*
#bgvid video {
    position: absolute; 
    top: 0; 
    left: 0; 
    right:0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background: url(../medias/Snapshots/bg_image.png) no-repeat;
    background-size: 100%;
}*/

/*section graphique*/
#graphique{
	width: 40%;
	float: right;

}

ul.graph
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	
ul.graph li
{
	margin-bottom: .5em;
	padding: .2em;
	background: #600;
	color: #fff;
}
	
ul.graph li.percent20{
	width:20%;
}
	
ul.graph li.percent40{
	width:40%;
}
	
ul.graph li.percent60{
	width:60%;
}
	
ul.graph li.percent80{
	width:80%;
}

ul.graph li.percent100{
	width:100%;
}
